* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  font-family: "Kanit";
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail,
.location {
  position: relative;
  font-size: 26px;
  color: white;
}
.imageContainer {
  padding: 10px 10px 5px 10px;
  background-color: white;
}
.detail {
  z-index: 1;
  bottom: 44px;
  right: 115px;
}
.location {
  padding: 5px 25px;
  left: 255px;
  bottom: 420px;
  background-color: hsla(0, 0%, 0%, 0.463);
}
img {
  border-radius: 5px;
}

.shadow {
  border-radius: 5px;
  z-index: 0;
  position: relative;
  width: 624px;
  height: 100px;
  background-image: linear-gradient(
    360deg,
    hsl(0, 0%, 0%),
    hsla(0, 0%, 100%, 0)
  );
  bottom: 140px;
}
